

img.svg-icons {
    padding: 8px;
    width: 35px;
    background: white;
    border-radius: 50%;
}

.justify-content-between{
    justify-content: space-between !important;
    background: linear-gradient(45deg, #06e8ad2e, #03629f);
    padding: 15px;
    backdrop-filter: blur(4px);
}   

button {
    cursor: pointer;
    background: none;
    border: none;
}