<main>
  <div class="sidebar">
    <div class="branding">
      <img src="assets/xo-&-you-pp.jpg" alt="homelab" class="company_logo">
      <h1 class="brand-name">Unixo</h1>
    </div>
    <ul>
      <li routerLink="/support">
        <img src="assets/svg-range.svg" class="svg-icons">
        Support
      </li>
      <li routerLink="/dashboard">
        <img src="assets/svg-invoice.svg" class="svg-icons">
        Factures
      </li>
      <li routerLink="/users">
        <img src="assets/svg-contact.svg" class="svg-icons">
        Nous contacter
      </li>
      <li routerLink="/settings">
        <img src="assets/svg-document.svg" class="svg-icons">
        Espace Documentaire
      </li>
    </ul>
  </div>
</main>
