.sidebar {
  width: 250px;
  height: 100vh;
  background: #9bbacd29;
  color: white;
  backdrop-filter: blur(4px);
}


img.svg-icons {
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px;
    background: #bfbfcf;
}

img.company_logo {
  width: 70px;
  border-radius: 50%;
}

.branding {
    text-align: center;
    padding: 15px;
    background: #050250;
    margin-bottom: 25px;
}
h1.brand-name {
    margin-top: 15px;
    font-size: x-large;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    color: #050250;
    margin-inline: 10px;
    padding-inline: 10px;
    margin-bottom: 15px;
}
li:hover {
    background: #f3f3f3;
    cursor: pointer;
    color: #1e293b;
    margin-inline: 10px;
    background: #f3f3f3;
    color: black;
    padding-inline: 10px;
    transition: 0.3s;
    border-radius: 12px;
}