.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e293b;
  color: white;
}


img.company_logo {
  width: 100px;
  border-radius: 50%;
}

.branding {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    margin-inline: 25px;
    padding-inline: 30px;
    margin-bottom: 15px;
}
li:hover {
    background: #f3f3f3;
    cursor: pointer;
    color: #1e293b;
    margin-inline: 25px;
    background: #f3f3f3;
    color: black;
    padding-inline: 30px;
    transition: 0.3s;
    border-radius: 12px;
}